<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PortuguesYa!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="contenedor">
<div class="logo">
	<img class="fadin" id="tucan" src="/images/tucan.jpg">	
	<h1 id="tituloprincipal">PortuguesYa!</h1>	
</div>
<nav class="menu">
<ul>
	<li><%= link_to "Início", root_path, onClick: "reiniciar()", title: "Página de início", :class => "headlinks" %></li>
	<li><%= link_to "Jogos e Aplicativos", ja_index_path, title: "Jogos e aplicativos didáticos", :class => "headlinks" %></li>
	<li><%= link_to "Lições", licoes_index_path, onClick: "reiniciar()", title: "Lições de Português", :class => "headlinks" %>	</li>
</ul>
</nav>
</div>
</header>	
<!--<div id="fb-root"></div>like button!-->
<div id="caja">
<%= yield %>	
</div>
<footer>
	<h1>PÁGINA EN CONSTRUCCIÓN</h1>
	<p>blablablablablablablablablablabla<br>
blablablablablablablablablablabla<br>
blablablablablablablablablablabla<br>
blablablablablablablablablablabla<br>
blablablablablablablablablablabla<br>
blablablablablablablablablablabla<br></p>
</footer>
<!--<div class="fb-like" data-href="http://capitais.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>likebutton!-->
</body>
</html>
