<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Capitais do Brasil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="caja">
<%= yield %>	
</div>
<footer>
<%= link_to "Início", root_path, onClick: "reiniciar()", title: "Página de início" %>	
<%= link_to "Estados e capitais", eec_eec_path, onClick: "reiniciar()", title: "Todos os estados do Brasil e suas capitais" %>	
</footer>
</body>
</html>
