<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Capitais do Brasil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=1451345068509956";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
<div id="caja">
<%= yield %>	
</div>
<footer>
<%= link_to "Início", root_path, onClick: "reiniciar()", title: "Página de início" %>	
<%= link_to "Estados e capitais", eec_eec_path, onClick: "reiniciar()", title: "Todos os estados do Brasil e suas capitais" %>	
<div class="fb-like" data-href="http://capitais.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</footer>
</body>
</html>
